.cabecalho {
    background-color: #0C6BDB;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-imagem{
    width: 15%;
}

.cabecalho-lista-item{
display: inline-block;
margin: 0 16px;
font-size: 24px;
}

.projeto-titulo{
text-align: center;
padding: 16px 0;
}

.projeto-div{
text-align: center;
padding: 50px 0;

}

.rodape{
    background-color: black;
}

.rodape-imagem1{
    width: 20%;
}

.rodape-imagem2{
    width: 15%;
}